* {
    padding: 0;
    margin: 0;
}

body {
    background: #d3d3d3;
    font-family: 'Roboto', sans-serif;
}

.title {
    text-align: center;
}

.documentation {
    text-align: center;
    text-decoration: none;
}

.documentation a {
    color: rgb(58, 58, 58);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.documentation a:hover {
    color: #232f34;
}

.back {
    margin-top: 10px;
    margin-bottom: 10px;
}